@media (max-width: 1400px) {

}

@media (max-width: 992px) {

    .row {
        flex-wrap: wrap;
    }

    .col-4{
        min-width: 50%;
        margin-bottom: 20px;
    }

    .card-mini-info {
        flex-direction: column;
    }

    .card-mini-info span {
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 540px) {

}